-r requirements.txt
-r requirements_setup.txt
-r requirements_packaging_tests.txt
-r requirements_config.txt
-r requirements_logging.txt
-r requirements_sentry.txt
-r requirements_cli.txt
-r requirements_git_repo_tests.txt
